body {
	height: 100vh;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}



div[data-tile] {
	text-align: center;
	width: 4rem;
	height: 4rem;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	font-size: 2.5rem;
	cursor: pointer;
}

div[data-tile]:nth-child(3n) {
	border-right: none;
}

div[data-tile]:is(:nth-child(7),:nth-child(8),:nth-child(9)) {
	border-bottom: none;
}
